<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Adopet</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/header-other.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav id="nav-bar">
      <ul class="nav-bar-list">
        <div class="nav-bar-menu">
          <li class="header-logo"><a href="/index"><img src="/img/logotipo-white.svg" alt="Adopet" class="header-logo-image"></a></li>
          <li><a href="#"><img src="/img/house.svg" alt="Ícone de uma casa" class="nav-bar-image"></a></li>
          <li><a href="#"><img src="/img/mail.svg" alt="Ícone de um e-mail" class="nav-bar-image"></a></li>
        </div>
        <li><a href="#"><img src="/img/user.svg" alt="Ícone de um usuário" class="nav-bar-image icon-user"></a></li>
      </ul>
    </nav>
  </header>

  <main>
    <img src="/img/right-shape.svg" class="right-shape">
    <div class="textgroup">
      <p><span>Olá!</span> Veja os amigos disponíveis para adoção!</p>
    </div>
    <div class="pets__container">
      <div class="pet">
        <img src="/img/pets/dunga.png" alt="Imagem do Dunga" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Dunga</h2>
          <span class="pet-age">2 anos</span>
          <p class="pet-description">Porte pequeno <span>Calmo e educado</span></p>
          <address class="pet-local">Rio de Janeiro (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/felicia.png" alt="Imagem da Felícia" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Felícia</h2>
          <span class="pet-age">3 meses</span>
          <p class="pet-description">Porte pequeno <span>Ativa e carinhosa</span></p>
          <address class="pet-local">Nova Iguaçu (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/sirius.png" alt="Imagem do Sirius" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Sirius</h2>
          <span class="pet-age">6 meses</span>
          <p class="pet-description">Porte grande <span>Ativo e educado</span></p>
          <address class="pet-local"></address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/fiona.png" alt="Imagem da Fiona" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Fiona</h2>
          <span class="pet-age">3 anos</span>
          <p class="pet-description">Porte pequeno <span>Calma e carinhosa</span></p>
          <address class="pet-local">São Gonçalo (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/sid.png" alt="Imagem do Sid" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Sid</h2>
          <span class="pet-age">8 meses</span>
          <p class="pet-description">Porte médio/grande <span>Brincalhão e amável</span></p>
          <address class="pet-local">Rio de Janeiro (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/yoda.png" alt="Imagem do Yoda" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Yoda</h2>
          <span class="pet-age">1 ano</span>
          <p class="pet-description">Porte médio <span>Ativo e carinhoso</span></p>
          <address class="pet-local">Nova Iguaçu (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/lua.png" alt="Imagem da Lua" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Lua</h2>
          <span class="pet-age">6 meses</span>
          <p class="pet-description">Porte médio <span>Ativa e carinhosa</span></p>
          <address class="pet-local">Duque de Caxias (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/amora.png" alt="Imagem da Amora" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Amora</h2>
          <span class="pet-age">45 dias</span>
          <p class="pet-description">Porte grande <span>Calma e carinhosa</span></p>
          <address class="pet-local">São Gonçalo (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
      <div class="pet">
        <img src="/img/pets/zelda.png" alt="Imagem da Zelda" class="pet-image">
        <div class="pet-texgroup">
          <h2 class="pet-name">Zelda</h2>
          <span class="pet-age">5 meses</span>
          <p class="pet-description">Porte médio <span>Ativa e amável</span></p>
          <address class="pet-local">Rio de Janeiro (RJ)</address>
          <span class="message-container"><a href="#" class="message"><img src="/img/message.svg" alt="Ícone de mensagem">Falar com responsável</a></span>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>2022 - Desenvolvido por Alura.</p>
  </footer>
</body>
</html>