<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicial | Adopet</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/inicial.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav id="nav-bar">
      <ul class="nav-bar-list">
        <li class="header-logo"><a href="/index"><img src="/img/logotipo-white.svg" alt="Adopet" class="header-logo-image"></a></li>
        <li><a href="/index"><img src="/img/house.svg" alt="Ícone de uma casa" class="nav-bar-image"></a></li>
        <li><a href="/mail"><img src="/img/mail.svg" alt="Ícone de um e-mail" class="nav-bar-image"></a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="textgroup">
      <img src="/img/logotipo-white.svg" alt="Adopet" class="logo">
      <img src="/img/right-shape.svg" class="right-shape">
      <h1>Boas-vindas!</h1>
      <p class="mobile-text">Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!</p>
      <p class="tablet-desktop-text">Adotar pode mudar uma vida. Que tal buscar seu novo melhor amigo hoje? Vem com a gente!</p>
      <div class="button-container">
        <a href="/login" class="button">Já tenho conta</a>
        <a href="/cadastro" class="button">Quero me cadastrar</a>
      </div>
    </div>
  </main>
  <img src="/img/ilustracao.svg" alt="Ilustração de animais" class="ilustracao">

  <footer>
    <p>2022 - Desenvolvido por Alura.</p>
  </footer>
</body>
</html>