<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Adopet</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/header-sign.css">
  <link rel="stylesheet" href="/styles/login.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav id="nav-bar">
      <ul class="nav-bar-list">
        <li class="header-logo"><a href="/index"><img src="/img/logotipo-white.svg" alt="Adopet" class="header-logo-image"></a></li>
        <li><a href="#"><img src="/img/house.svg" alt="Ícone de uma casa" class="nav-bar-image"></a></li>
        <li><a href="#"><img src="/img/mail.svg" alt="Ícone de um e-mail" class="nav-bar-image"></a></li>
      </ul>
    </nav>
    <img src="/img/patas.svg" alt="Patas" class="patas">
  </header>
  
  <main>
    <img src="/img/left-shape.png" class="left-shape">
    <img src="/img/right-shape.svg" class="right-shape">
    <img src="/img/logotipo-blue.svg" alt="Adopet" class="logo">
    <p>Já tem conta? Faça seu login:</p>
    <div class="input-container">
      <span class="input-message-error">{{error}}</span>
    </div>
    <form action="/loginUser" method="POST">
      <label for="email">Email</label>
      <input name="email" type="email" placeholder="Insira seu email" id="email" required>
      
      <label for="password" class="password-all">Senha <span></span></label>
      <input name="password" type="password" placeholder="Insira sua senha" class="password-all" required>
      

      <a href="#">Esqueci minha senha</a>
      <button class="button" type="submit">Entrar</button>
      
    </form>
  </main>

  <footer>
    <p>2022 - Desenvolvido por Alura.</p>
  </footer>
</body>
</html>