<div class="pet">
    <img src="/img/pets/{{photo}}" alt="Imagem do {{name}}" class="pet-image">
    <div class="pet-texgroup">
        <h2 class="pet-name">{{name}}</h2>
        <span class="pet-age">{{age}} ano(s)</span>
        <p class="pet-description">{{size}} <span>{{feature}}</span></p>
        <address class="pet-local">{{city}}</address>
        <span class="message-container"><a href="#{{tel}}" class="message"><img src="/img/message.svg"
                    alt="Ícone de mensagem">Falar com responsável</a></span>
    </div>
</div>