:root {
  --blue: #3772FF;
  --red: #FC7071;
  --green: #36D6AD;
  --cream: #FCF0E3;
  --gray: #737380;
  --gray-200: #BCBCBC;
  --gray-400: #F6F6F6;
  --white: #FFFFFF;
}

body, button, input, textarea, ::placeholder {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}