body {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
  
  background-color: var(--white);
  background-image: url('/img/top-shape.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

#nav-bar {
  width: 100%;
}

header {
  padding: 3em;
  display: flex;
  gap: 48px;
  width: auto;
}

.nav-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.icon-user {
  width: 40px;
  height: 40px;
}

.header-logo {
  display: none;
}


@media screen and (min-width: 768px) {

  header {
    padding: 64px 50px;
  }

  body {
    background-size: 560px 470px;
  }

  .header-logo {
    display: block;
  }

  .header-logo-image {
    width: 130px;
  }

  .nav-bar-list {
    gap: 70px;
  }

  .icon-user {
    width: 48px;
    height: 48px;
  }
}